* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
.content {
    display: grid;
    justify-content: center;
    align-items: center;
}
.wrapper {
    position: relative;
    width: 960px;
    padding: 10px;
}
section {
    position: absolute;
    display: none;
    top: 10px;
    right: 0;
    width: 740px;
    min-height: 550px;
    background: rgb(255,192,203,.3);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    color: black;
}
section:first-of-type {
    display: block;
}

/* Slide bar  */
nav {
    float: left;
    width: 200px;
    min-height: 550px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background: rgb(255,192,203, .5);
}
ul {
    list-style: none;
}
li {
    width: 60%;
    /* height: 38px; */
    border-radius: 6px;
    line-height: 39px;
    margin: 20px 0 10px 38px;
    text-align: center;
    cursor: pointer;
    background: whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: black;
}
li:hover:not(.active) {
    color: rgb(219,112,147);
}
.active {
    background: rgb(219,112,147, .5);
    color: aliceblue;
}

/* Content  */
.content__board section { 
    padding: 20px 0 10px 38px;
}
.content__board section p:first-of-type {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background: white;
    border: none;
    padding: 20px;
    margin-right: 20px; 
    border-radius: 3px;
}
.content__board section p:first-of-type i {
    color: rgb(219,112,147, .5);
}
.content__board section input {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 4px 0px inset;
    background: rgb(255,192,203,.2);
    border: none;
    width: 97%;
    border-radius: 6px;
    margin-bottom: 20px;
}
.content__board section button {
    background: rgb(255,182,193,.5);
    color: white;
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;
	border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2); */
    transition: all 0.3s ease-in-out;
}
.content__board section button:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    background: rgb(219,112,147);
    color: white;
    border: none;
    outline: none;
}
.content__board section button:active {
    opacity: .8;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    border: none;
}
select {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 4px 0px inset;
    background: rgb(255,192,203,.2);
    color: #495057;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
}